<!doctype html>
<html>
<head>
  <title> My Website</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
  <article>
    <a href="#">
      <img src="img/opencart.jpg"/ alt="opencart image">
    </a>
    <div class="preview">
      <ul class="meta">
        <li> <a href="#">Articles</a></li>
        <li> <a href="#">Contacts</a></li>
      </ul>
      <h2>Some Article for demo</h2>
      <div  class="post_info">
        <p><a href="#">xyz</a> on sep 2011 with 44 <a href="#">comments</a><p>
      </div>
      <div class="body">
        <p>
          some content some content some content some content some content some content
          some content some content some content some content some content some content some content
          some content some content some content some content some content some content
          some content some content some content some content
        </p>
        <p>
          Some other text Some other text Some other text Some other text Some other text Some other text Some other text
          Some other text Some other text Some other text Some other text Some other text Some other text
          Some other text Some other text Some other text Some other text Some other text
          Some other text Some other text Some other text
        </p>

      </div>
      <a href="#" class="continue">Continue</a>
    </div>
  </article>

</body>

</html>
